@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --p-color: #343434;
  --s-color: #e6b31e;
  --s2-color: #dfc67d;

  font-family:
    'Inter var',
    ui-sans-serif,
    system-ui,
    -apple-system,
    system-ui,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--p-color);
}
button {
  margin-top: 1rem;
  color: var(--p-color);
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: var(--s-color);
  font-family:
    'Inter var',
    ui-sans-serif,
    system-ui,
    -apple-system,
    system-ui,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: var(--s2-color);
  color: var(--p-color);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}

div {
  position: relative;
}
#quote-box {
  border-radius: 3px;
  position: relative;
  max-width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: var(--p-color);
  color: var(--s-color);
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 46px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 46px -10px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 46px -10px rgba(66, 68, 90, 1);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

#quote-box.loading {
  transform: scale(0.98);
  opacity: 1;
}
#quote-text {
  transition: opacity 0.5s ease;
}

#quote-author {
  text-align: right;
  font-weight: 300;
  font-style: italic;
  margin-top: 0.5rem;
  transition: opacity 0.5s ease;
}

#new-quote {
  float: right;
}
.fa-brands {
  margin-top: 1rem;
  margin-right: 1rem;
}
.fa-solid {
  margin-right: 0.5rem;
}
a {
  color: var(--s-color);
}
a:hover {
  color: var(--s2-color);
}
.loading {
  display: flex;
  flex-direction: row;
}
.loading__letter {
  letter-spacing: 4px;
  animation-name: bounce;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
  animation-delay: 0.05s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.15s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.25s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.35s;
}
.loading__letter:nth-child(9) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(10) {
  animation-delay: 0.45s;
}
.loading__letter:nth-child(11) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(12) {
  animation-delay: 0.55s;
}
.loading__letter:nth-child(13) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(14) {
  animation-delay: 0.65s;
}
.loading__letter:nth-child(15) {
  animation-delay: 0.7s;
}
.loading__letter:nth-child(16) {
  animation-delay: 0.75s;
}
.loading__letter:nth-child(17) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(18) {
  animation-delay: 0.85s;
}
.loading__letter:nth-child(19) {
  animation-delay: 0.9s;
}
.loading__letter:nth-child(20) {
  animation-delay: 0.95s;
}
.loading__letter:nth-child(21) {
  animation-delay: 1s;
}
.loading__letter:nth-child(22) {
  animation-delay: 1.05s;
}
.loading__letter:nth-child(23) {
  animation-delay: 1.1s;
}
.loading__letter:nth-child(24) {
  animation-delay: 1.15s;
}
.loading__letter:nth-child(25) {
  animation-delay: 1.2s;
}
.loading__letter:nth-child(26) {
  animation-delay: 1.25s;
}
.loading__letter:nth-child(27) {
  animation-delay: 1.3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(20px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  padding: 6rem 1.75rem; /* py-24 px-7 */
  isolation: isolate;
  position: relative;
}

/* Dla większych ekranów */
@media (min-width: 640px) {
  .content-wrapper {
    padding: 8rem 2.25rem; /* sm:py-32 lg:px-9 */
  }
}

.blur-effect {
  position: absolute;
  inset: 0;
  left: 0;
  right: 0;
  top: -10rem; /* -top-40 */
  z-index: -10;
  overflow: hidden;
  transform: translateZ(0);
  filter: blur(528px); /* blur-3xl */
}

@media (min-width: 640px) {
  .blur-effect {
    top: -20rem; /* sm:-top-80 */
  }
}

.gradient-shape {
  position: relative;
  left: 50%;
  z-index: -10;
  aspect-ratio: 1155 / 678;
  width: 36.125rem; /* w-144.5 (144.5 * 0.25rem) */
  max-width: none;
  transform: translateX(-50%) rotate(30deg);
  background:
    radial-gradient(
      circle at 30% 30%,
      rgba(255, 128, 181, 0.8),
      transparent 50%
    ),
    radial-gradient(
      circle at 70% 70%,
      rgba(144, 137, 252, 0.8),
      transparent 50%
    ),
    linear-gradient(to top right, #ff80b5, #9089fc);
  filter: blur(2px);
  opacity: 0.7;
  clip-path: polygon(
    74.1% 44.1%,
    100% 61.6%,
    97.5% 26.9%,
    85.5% 0.1%,
    80.7% 2%,
    72.5% 32.5%,
    60.2% 62.4%,
    52.4% 68.1%,
    47.5% 58.3%,
    45.2% 34.5%,
    27.5% 76.7%,
    0.1% 64.9%,
    17.9% 100%,
    27.6% 76.8%,
    76.1% 97.7%,
    74.1% 44.1%
  );
}

@media (min-width: 640px) {
  .gradient-shape {
    left: calc(50% - 40rem);
    width: 72.1875rem; /* w-288.75 (288.75 * 0.25rem) */
  }
}
